@model final1.Models.Products

@{
    ViewData["Title"] = "Create";
}

<div class="container">
<h1>Create</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl1" class="control-label"></label>
                <input asp-for="ImageUrl1" class="form-control" />
                <span asp-validation-for="ImageUrl1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl2" class="control-label"></label>
                <input asp-for="ImageUrl2" class="form-control" />
                <span asp-validation-for="ImageUrl2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl3" class="control-label"></label>
                <input asp-for="ImageUrl3" class="form-control" />
                <span asp-validation-for="ImageUrl3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl4" class="control-label"></label>
                <input asp-for="ImageUrl4" class="form-control" />
                <span asp-validation-for="ImageUrl4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>