@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px;
}
.box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    justify-items:center;
    text-align:center;
    margin-bottom:40px;
}
.logo-payment {
    margin-top: 40px;
    text-align: center;
    width:250px;
}
.check-icon {
    font-size: 100px;
    color: #A95759;
}
.box p {
    font-size: 38px;
    color: #8A736C;
    font-weight:800;
}
