@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
    
}
.logo-payment{
    margin-top:40px;
}
.container {
    max-width: 1080px;
    color: #8A736C;
}
h3 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #8A736C;
}
.row1 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.strong {
    color: #8A736C;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    align-content:center;
    align-items:center;
    justify-content:space-around;
}
.qr-code{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.qr-code img{
    margin-left:20px;

}
.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}



input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #8A736C;
}

label {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    color: #8A736C;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #A95759;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 140px;
    cursor: pointer;
    font-size: 17px;
}

    .btn:hover {
        background-color: #F6F2E9;
        color: #A95759;
    }

a {
    color: #8A736C;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: #8A736C;
}
strong{
    color: #8A736C;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

.section{
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
}
.section img{
    margin-top:40px;
}
.sec {
    color: #A83A3A;
    text-align: center;
    font-size: 15px;
}
.sec-1{    
    font-size:30px;
    margin-bottom:10px;
    font-weight:800;
}
.sec-2 {
    font-size: 25px;
    margin:0;
}
#amount, #date, #time{
    width:300px;
    margin-bottom:20px;
    font-size:15px;
}
.tr {
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.prc{
    text-align:right;
}