<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Complete</title>
</head>
<body>
    <img class="logo-payment" src="~/logo_red.png" width="167px" />

    <button>
        <a class="a-cleanup" asp-controller="Home" asp-action="Index">BACK TO HOME</div> </a>
    </button>
     
</body>
</html>
