
@{
    ViewData["Title"] = "Complete";
}

<head>
    <title>@ViewData["Title"] - Order Complete</title>
    <link rel="stylesheet" href="~/css/OrderComplete.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<div class="container">
    <div class="box">
        <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo_red.png" class="logo-payment" />
                </a>
        <i class="check-icon bi bi-cart-check-fill"></i>
        <p>YOUR ORDER IS COMPLETE!</p>
        
    </div>
</div>
