@{
    ViewData["Title"] = "GelNailCare";
}

<head>
    <title>@ViewData["Title"] - How To Measure Nails</title>
    <link rel="stylesheet" href="~/css/block.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="container text-center">
        <h1 class="heading">GEL NAIL CARE</h1>
        <h3 class="sub-head">How To Make Your Gel Manicure Last?</h3>
        <h4 class="paragraph">Gel manicures have revolutionised our nail care routines and are the best option for fast-drying, long-lasting nails. A gel manicure should last for up to two weeks, but we have a few handy tips from the beauty therapists we work with to make them last even longer.</h4>
        <h3 class="sub-head">Gel Manicure Aftercare</h3>
        <ul class="list-disc list">
            <li>
                Apply cuticle oil to your nail beds every day
            </li>
            <li>
                Do not file your nails unless absolutely necessary. If you need to, take care to file gently and always finish in a downward direction
            </li>
            <li>
                Always wear gloves when doing general household cleaning and gardening, hobbies that are rough on your hands or use harsh chemical products
            </li>
            <li>
                Avoid using your nails as tools to pull open or pick at anything
            </li>
            <li>
                Take care not to use any products that could contain solvent oils, which causes major damage to the colour. These oils can be found in certain sun tan oils and insect repellent (Deet)
            </li>
            <li>
                To avoid the colour fading on holiday make sure you wash any chlorine off your hands after swimming and dry your nails before sunbathing
            </li>
            <li>If any lifting occurs make sure you don’t pick or pull at the nail. Call us so that we can assess the nail and decide if a repair is necessary</li>
            <li>
                To hide grown out gels add a dab of glitter to the base of each nail and blend up. This not only looks pretty but means you can put off getting refills for another few days
            </li>
            <li>Before your next treatment be sure to book in a gel removal to ensure no damage occurs on the natural nail</li>

        </ul>
    </div>
</body>
