@{
    ViewData["Title"] = "MeasureNails";
}

<head>
    <title>@ViewData["Title"] - How To Measure Nails</title>
    <link rel="stylesheet" href="~/css/block.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<div class="container text-center">
    <h1 class="heading">
        HOW TO<br />
        MEASURE NAILS
    </h1>
    <div class="sec">
        We've created a simple, step by step guide on how to measure your nails. <br />
        Please find size guide below the measurement instructions, to find your perfect fit.
    </div>
    <img class="image" src="~/block/measurement.png" width="674px" />
    <img class="image" src="~/block/sizing.png" width="674px" />
</div>
