@{
    ViewData["Title"] = "NailShape";
}

<head>
    <title>@ViewData["Title"] - How To Measure Nails</title>
    <link rel="stylesheet" href="~/css/block.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<div class="container text-center">
    <h1 class="heading">NAIL SHAPE</h1>
    <div class="grid row g-3 table gap-4">
        <div class="card">
            <img src="~/block/1.png" width="280px" />
            <div class="sub">Square Nails</div>
            <div class="subsub">Square nails are square — they're flat on top with straight, sharp corners. </div>
        </div>
        <div class="card">
            <img src="~/block/2.png" width="280px" />
            <div class="sub">Round Nails</div>
            <div class="subsub">Like square nails, round nails start with straight sides but curve at the edges to follow the natural shape of the fingertip.</div>
        </div>
        <div class="card">
            <img src="~/block/3.png" width="280px" />
            <div class="sub">Squoval Nails</div>
            <div class="subsub">Square oval — or squoval — nails are perfect if you're into the flat edge of the square but hate sharp corners. Knight notes that this classic, universally beloved shape seriously suits everyone.</div>
        </div>
        <div class="card">
            <img src="~/block/4.png" width="280px" />
            <div class="sub">Oval Nails</div>
            <div class="subsub">Yes, round nails are different from oval ones. Here's how: Oval nails are filed down on the sides in addition to the tips. The curvature is more extreme, so it tends to make fingers look a little longer.</div>
        </div>
        <div class="card">
            <img src="~/block/5.png" width="280px" />
            <div class="sub">Almond Nails</div>
            <div class="subsub">Looking for a super glamorous nail shape? Then the almond nail shape is for you. Like oval nails, almond nails are filed along the sides. The nail wall is tapered to end in a round peak, similar to the shape of an actual almond.</div>
        </div>
        <div class="card">
            <img src="~/block/6.png" width="280px" />
            <div class="sub">Stiletto Nails</div>
            <div class="subsub">Shaping this spiked look starts off the same as its nuttier counterpart, the almond, but ends at a much sharper point with a wider base. Knight notes that this shape is quite high-maintenance, "but it can showcase creativity with color, art, and texture."</div>
        </div>
        <div class="card">
            <img src="~/block/7.png" width="280px" />
            <div class="sub">Ballerina Nails</div>
            <div class="subsub">Ballerina nails, also known as coffin-shaped nails, are Kylie Jenner's go-to nail shape (or at least they were, before she joined Team Short Nail). </div>
        </div>
        <div class="card">
            <img src="~/block/8.png" width="280px" />
            <div class="sub">Lipstick Nails</div>
            <div class="subsub">Another easy-to-understand name, lipstick nails are shaped like the cut angle of a fresh tube of lipstick. This squared nail style slants diagonally at the tip for a seriously unique nail shape. Rojas notes, "They work well with any nail length and they'll definitely make you stand out."</div>
        </div>
    </div>

</div>

